<div id="mySidenav" class="sidenav mt-5">
  <ul>
    <li><a href="{{ url_for('studentHome') }}" role="button" class="sideNavLinks">Home</a></li>
    <li><a href="{{ url_for('student_retrieve_all_assignments')}}" class="sideNavLinks">View Assignments</a> </li>
    <li><a href="{{ url_for('retrieve_submissions')}}" class="sideNavLinks">View Submissions</a> </li>
    <li><a href="{{ url_for('retrieve_student_modules') }}" class="sideNavLinks">Modules</a> </li>
    <li><a href="{{ url_for('student_retrieve_feedback')}}" role="button" class="sideNavLinks">View Feedback</a> </li>
    <li><a href="{{ url_for('show_quote')}}" role="button" class="sideNavLinks">Generate Quotes</a> </li>
  </ul>
</div>

  <ul id="sideIcon" class="mt-5">
    <li><span onclick="toggleNav()" id="openbtn" class="bi bi-list"></span></li>
    <li><span onclick="toggleNav()" id="closebtn" class="bi bi-x"></span></li>
    <li><span onclick="toggleNav()" class="bi bi-house"></span></li>
    <li><span onclick="toggleNav()" class="bi bi-file-earmark"></span></li>
    <li><span onclick="toggleNav()" class="bi bi-pencil-square"></span></li>
    <li><span onclick="toggleNav()" class="bi bi-folder"></span></li>
    <li><span onclick="toggleNav()" class="bi bi-chat-left"></span></li>
    <li><span onclick="toggleNav()" class="bi bi-chat-left-quote"></span></li>
  </ul>

<script>
  function toggleNav() {
    if (document.getElementById('openbtn').style.display == 'none'){
      document.getElementById('openbtn').style.display = 'block';
      document.getElementById('closebtn').style.display = 'none';   
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("sideIcon").style.marginLeft = "0";
      var sideNavGroup = document.querySelectorAll('.subSideNav');
      for (var i = 0; i < sideNavGroup.length; i++){
        if (sideNavGroup[i].classList.contains('linkActive')){
          sideNavGroup[i].classList.remove('linkActive');
        }
      }
    }
    else{
      document.getElementById('openbtn').style.display = 'none';
      document.getElementById('closebtn').style.display = 'block';
      document.getElementById("mySidenav").style.width = "190px";
      document.getElementById("mySidenav").style.marginLeft = "45px";
    }
  }
</script>

