{% extends "base.html" %}
{% block title %}Integrated Learning System - Change password{% endblock %}

{% block login %}
<a href="{{ url_for('userHome') }}"><h5 class="bold mx-4 mt-3 text-body" style="position: absolute;">Pluto.com</h5></a>  

{% from "includes/_formHelper.html" import render_field %}

<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center" style="margin-top: 17vh;">
            
            <form method="POST" action="">
                <h3 class="mb-3">Change password</h3>
                <div class="form-group mb-2" style="width: 32vw;">
                    {{ render_field(form.old_password, class="form-control") }}
                </div>
                <div class="form-group mb-2" style="width: 32vw;">
                    {{ render_field(form.new_password, class="form-control") }}
                </div>
                <div class="form-group mb-2" style="width: 32vw;">
                    {{ render_field(form.confirm_password, class="form-control") }}
                    <p class="text-danger">{{ message }}</p>
                </div>
                <div>
                    <a href="{{ url_for('userHome') }}" class="btn btn-outline-danger">Go back</a>
                    <input type="submit" value="Change Password" class="btn" style="background-color: #5227CC; color: white;">
                </div>
            </form>
        </div>
        <div class="col d-flex justify-content-center">
            <img src="{{ url_for('static', filename='img/keys.png' )}}" alt="image of student studying" class="w-100" style="height: 100vh;">
        </div>
    </div>
</div>

{% endblock %}

{% block navbar %}{% endblock %}
{% block content %}{% endblock %}