{% extends "base.html" %}
{% block title %}Integrated Learning System- Home{% endblock %}

{% block pendingAssignment %}
<div class="p-3 rounded shadow-sm me-3" id="pendingAssignments" style=" width: 310px; float: right; margin-top: 15vh;">
  <h5>Assignments in Progress</h5>
  <div class="mt-3">
    {% if assignmentsCount == 0 %}
    <p class="text-center">No Pending Assignments</p>
    {% endif %}
    {% for assignment in assignments_list %}
      {% if loop.index < 5 %}
      <div class="rounded py-2 container bg-white pendingAssignments mb-1">
        <div class="row">
          <div class="col-auto px-2">
            {% for module in studentModule_list %}
              {% if module.get_module_name() == assignment.get_module_code() %}
                <img src="../static/img/{{module.get_module_image()}}" alt="" width="46px;" style="max-height: 50px; min-height: 45px;" class="rounded">
              {% endif %}
            {% endfor %}
          </div>
          <div class="col-auto">
            {% for module in studentModule_list %}
              {% if module.get_module_name() == assignment.get_module_code() %}
                <p class="m-0" style="font-size: 1rem; font-weight: 500;">{{module.get_module_name()}}</p>
              {% endif %}
            {% endfor %}
            <div class="row">
              <div class="col-auto">
                <p class="m-0" style="font-size: .9rem;">{{assignment.get_AssignmentName()}}</p>
              </div>
              <div class="col-auto">
                <p class="m-0 text-warning fw-bold" style="font-size: .9rem;">{{assignment.get_DueDate().strftime("%b %d")}}</p>
              </div>
            </div>
          </div>
          <div class="col-auto align-self-center px-0">
            <a href="{{ url_for('student_advanced_assignment_view', file_id=assignment.get_FileID())}}"><i class="bi bi-caret-right-fill text-body"></i></a>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
    <div class="btn btn-dark align-items-center py-1 w-100 mt-2" style="border-radius: 120px;">
      <a href="{{ url_for('student_retrieve_all_assignments')}}"><p class="m-0 text-white btn" style="font-size: small; font-weight: 500;">See All Pending Assignments</p></a>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<h1 class="h3 font-weight-600 mb-4">Overview</h1>
<div class="d-flex">
  <div style="height: 120px;" class="rounded shadow-sm me-3">
    <div class="px-3 py-2">
      <div>
        <i class="bi bi-book text-info "></i><small class="ms-2">Modules in Progress</small>
        <h1 class="ms-4 mt-2"><u style="text-underline-offset: 1rem; text-decoration-color: #5be9ff;">{{modulesCount}}</u></h1>
      </div>
    </div>
  </div>
  <div style="height: 120px; min-width: 170px;" class="rounded shadow-sm me-3">
    <div class="px-3 py-2">
      <div>
        <i class="bi bi-pen text-danger"></i><small class="ms-2">Assignments in Progress</small>
        <h1 class="ms-4 mt-2"><u style="text-underline-offset: 1rem; text-decoration-color: #dc3545;">{{assignmentsCount}}</u></h1>
      </div>
    </div>
  </div>
  <div style="height: 120px;" class="rounded shadow-sm">
    <div class="px-3 py-2">
      <div>
        <i class="bi bi-clock" style="color: #6610f2"></i><small class="ms-2">Days left to O'Levels</small>
        <h1 class="ms-4 mt-2"><u style="text-underline-offset: 1rem; text-decoration-color: #6610f2">{{Olvlcountdown}}</u></h1>
      </div>
    </div>
  </div>
</div>

<!-- <nav class="w-75 h-100">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-Dashboard-tab" data-bs-toggle="tab" data-bs-target="#nav-Dashboard" type="button" role="tab" aria-controls="nav-Dashboard" aria-selected="true">Dashboard</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
  </div> -->
  <h5 class="ms-3 mt-4">{{ title }}</h5>
  <div class="ms-3 d-flex flex-nowrap">
        <canvas id="chart" width="720" height="300"></canvas>
        <script>
        // bar chart data
        var barData = {
            labels : [
            {% for item in labels %}
                "{{ item }}",
            {% endfor %}
            ],

            datasets : [{
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                data : [
                  {% for item in values %}
                     "{{ item }}",
                    {% endfor %}
              ]
                }
              ]
            }
      
           // get bar chart canvas
           var mychart = document.getElementById("chart").getContext("2d");
      
             steps = 5
             max = {{max}}
      
           // draw bar chart
           new Chart(mychart).Bar(barData, {
             scaleOverride: true,
             scaleSteps: steps,
             scaleStepWidth: Math.ceil(max / steps),
             scaleStartValue: 0,
             scaleShowVerticalLines: true,
             scaleShowGridLines : true,
             barShowStroke : true,
             scaleShowLabels: true
             }
           );

        </script>
    </div>
{% endblock %}
