{% extends "base.html" %}
{% block title %}Integrated Learning System - View Profile{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="h3 font-weight-600 mb-4">View Profile</h1>

<div class="d-flex justify-content-center">
    <div class="h-100 w-50 p-4 shadow-sm p-3 mb-5 rounded" style="background-color: #f8f9fa;">
        <form method="POST" action="">
            <div class="mb-2 form-group">
                {{ render_field(form.name, class="form-control") }}
            </div>
            <div class="mb-2 form-check-inline">
                {{ render_field(form.gender, class="form-control") }}
            </div>
            <div class="mb-2 form-group">
                {{ render_field(form.birthDate, class="form-control datepicker") }}
            </div>
            <div class="mb-2 form-group">
                {{ render_field(form.email, class="form-control") }}
            </div>
            <div class="mb-2 form-group">
                {{ render_field(form.adminNo, class="form-control") }}
            </div>

            <input type="submit" value="Return Home" class="btn btn-outline-danger"/>
        </form>
        </div>
</div>
{% endblock %}