{% extends "base.html" %}
{% block title %}Integrated Learning System - View Feedback{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="h3 font-weight-600 mb-4">View Feedback</h1>

<div class="d-flex justify-content-center">
    <div class="h-100 w-50 p-4 shadow-sm p-3 mb-5 rounded" style="background-color: #f8f9fa;">
        <form action="" method="POST">
            <div class="mb-2 form-group">
                {{ render_field(form.message1, class="form-control") }}
            </div>
            <div class="mb-2 form-group">
                {{ render_field(form.message2, class="form-control") }}
            </div>
            <div class="mb-2 form-group">
                {{ render_field(form.message3, class="form-control") }}
            </div>
            <div class="mb-2 form-group">
                {{ render_field(form.message4, class="form-control") }}
            </div>
            <a href="{{ url_for('teacher_retrieve_feedback') }}" class="btn btn-outline-danger">Return without Reviewing</a>
            <input type="submit" value="Mark as Reviewed" class="btn btn-primary"/>
        </form>
    </div>
</div>


{% endblock%}