{% extends "base.html" %}
{% block title %}Integrated Learning System - Update Teacher{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="h3 font-weight-600 mb-4">Update Teacher</h1>

<div class="d-flex justify-content-center">
    <div class="h-100 w-50 p-4 shadow-sm rounded" style="background-color: #f8f9fa; width: 65vw;">
        <form method="POST" action="">
            <div class="col-xs-6 mb-2 form-group">
                {{ render_field(form.name, class="form-control") }}
            </div>
            <div class="mb-2 form-check-inline">
                {{ render_field(form.gender, class="form-check", style="list-style-type:none;") }}
            </div>
            <div class="mb-2 form-group">
                {{ render_field(form.email, class="form-control") }}
            </div>
            <div class="mb-2 form-group">
                {{ render_field(form.adminNo, class="form-control") }}
            </div>
            <div class="mb-2 form-group">
                {{ render_field(form.password, class="form-control") }}
            </div>
            <div id="modules" class="h-25 mb-2 form-group">
                <!-- <a href="#" id="add_module" style="color: #8540F5; font-weight: 600;"><small class="mb-0" style="float: right;">Add modules</small></a> -->
                {{ render_field(form.module1, class="form-control") }}
            </div>
            <a href="{{ url_for('retrieve_teachers')}}" class="btn btn-outline-danger">Go back</a>
            <input type="submit" value="Update Teacher" class="btn btn-warning "/>
        </form>
    </div>
</div>

{% endblock%}